div{
    background: orange;
    height: 100px;
}

.black{
   background: black;
   height:100px;
   color: beige;
}
.pink{
   background: pink;
   height:100px;
}


#red{
    background-color: khaki;
}









